body {
    margin: 0;
    padding: 0;
    background-image: url(../pexels-dương-nhân-2232979.jpg);
    background-size: cover;
}

.starting {
    height: 100px;
    width: 100px;
    background-color: aqua;
}

h1{color: aqua;}