body {
    margin: 0;
    padding: 0;
    background-image: url(../pexels-dương-nhân-2232979.jpg);
    background-size: cover;
}

.starting {
    height: 100px;
    width: 100px;
    background-color: aqua;
}

h1{
    color: #ccc;
    text-align: center;
    font-size: 50px;

}

.container-nav {
    display: flex;
    justify-content: center;
}

.nav {
    display: flex;
    gap: 40px;
}

nav > div {
    font-size: 30px;
    color: white;
    font-style: italic;
    cursor: pointer;
   
}

nav > div:hover {
    color: lightseagreen;
    
}
#content {
    width: 80vw;
    height: 400px;
    display: flex;
 margin: 0 auto;
    justify-self: center;
    margin-top: 40px;
    flex-direction: column;

}

nav > div:focus {
    color: gold;
}

.heya {
 margin: 0 auto;
  font-style: italic;
  font-size: 40px;
  color: #ccc;
}

.homediv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
   
    align-self: center;
    margin-top: 30px;
}

.homediv > ul > li {
    color: aquamarine;
    font-size: 25px;
    font-style: italic;
    text-decoration: underline;

}

